<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>
        a {
            font-family: Arial, Helvetica, sans-serif;
            color: #069;
            font-size: 18px;
        }
        button {
            background: none !important;
            border: none;
            padding: 0 !important;
            font-family: Arial, Helvetica, sans-serif;
            color: #069;
            font-size: 18px;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <% if (!user) { %>
        <h1>Login Application (mongoose, nodejs) </h1>
    <% } else if(user.role==='BASIC'){ %>
        <h1>Welcome, <%=user.username%></h1>
    <% } else if (user.role==='ADMIN') { %>
        <h1>Welcome, Admin</h1>
    <% } %>
    <a href='/userpage'>User Page</a> || 
    <a href='/new'>Admin Page</a> || 
    <% if (!user) { %>
        <a href='/login'>Login</a>
    <% } else { %>
        <form style='display:inline' action='/?_method=DELETE' method='POST'><button>Logout</button></form>
    <% } %>
    <h2 style='padding-top: 5em;'><b>Test Accounts</b></h2>
    <p><b>[ADMIN] </b>user: admin | password: admin</p>
    <p><b>[BASIC] </b>user: user1 | password: password</p>
</body>
</html>