<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://perishablepress.com/wp/wp-content/images/2021/favicon-standard.png" sizes="32x32" type="image/png">
    <title></title>
</head>

<body>
    <form action="/" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
</body>

</html>