<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://perishablepress.com/wp/wp-content/images/2021/favicon-standard.png" sizes="32x32" type="image/png">
    <title></title>
</head>
<body>
    <h1>User Profile</h1>
    <p>This page is only accessible to BASIC users</p>
</body>
</html>